.main-carousel {
}

.carousel-cell {
  width: 70%;
  height: 400px;
  margin-right: 10px;
  background: deepskyblue;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
}

.carousel-content {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: white;
  text-align: center;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.embed {
  text-align: center;
}

.slide-arrow{
  margin:auto;
  display:block;
}